#nav {
  display: flex;
  width: 1450px;
  height: 20px;
  /* background-color: #106EBE; */
  /* background-color: #B4009E; */
  background-color:#881798;

  padding: 10px 10px 30px 10px;
  align-items: center;
}
#nav div {
  margin: 20px;
}

#nav {
  position: fixed;
  top: 0;
  z-index: 2;
}
.nav-link {
  color: white;
  justify-content: space-between;
  text-decoration: none;
}
#white {
  color: white;
}
#todo {
  color: white;
  position: relative;
  top: 9px;
  width: 100px;
  align-items: center;
  right: 20px;
}
.flex {
  display: flex;
  width: 100%;
  justify-content: end;
  align-items: center;
}
#add {
  color: white;
  cursor: pointer;
  position: relative;
  top: 10px;
  right: 1080px;
  
}
